In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [24]:
data = pd.read_csv('Decision_Tree_ Dataset.csv')
data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   1           1000 non-null   int64
 1   2           1000 non-null   int64
 2   3           1000 non-null   int64
 3   4           1000 non-null   int64
 4   sum         1000 non-null   int64
 5   Unnamed: 5  1000 non-null   object
dtypes: int64(5), object(1)
memory usage: 47.0+ KB

In [27]:
data = data.rename(
    columns = {'1': 'Initial payment',
              '2': 'Last payment',
              '3': 'Credit Score',
              '4': 'House Number',
              'Unnamed: 5': 'Result'})

In [28]:
data.head()

   Initial payment  Last payment  Credit Score  House Number    sum Result
0              201         10018           250          3046  13515    yes
1              205         10016           395          3044  13660    yes
2              257         10129           109          3251  13746    yes
3              246         10064           324          3137  13771    yes
4              117         10115           496          3094  13822    yes